header,
footer {
  font-weight: bolder;
}
section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
  width: 18vw;
  max-width: 300px;
  height: auto;
  justify-content: space-between;
}
body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 0.25rem
}
section>img{
    width: 100%;
}